.statistics__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.statistics__head {
    margin: 0;
    padding: 25px;
}

.statistics__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    list-style: none;
}

.item {
    margin-right: 10px;
}